@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Open Sans", sans-serif;
}

/*----------- FONT-SIZE -----------*/
:root{
    --font-xs: 1.2rem;
    --font-sm: 1.4rem;
    --font-md: 1.6rem;
    --font-lg: 1.8rem;
    --font-xl: 2.0rem;
    --font-2xl: 2.4rem;
    --font-3xl: 3.2rem;
    --font-4xl: 4.0rem;
    --font-5xl: 4.8rem;
    --font-6xl: 6.4rem;
}

/*----------- CORES -----------*/
:root{
    --color-white: #fff;
    /* Tons de preto */
    --color-black-first: #000;
}


/*----------- SPACING -----------*/
:root{
    --space-xs: 0.4rem;
    --space-sm: 0.8rem;
    --space-md: 1.6rem;
    --space-lg: 2.4rem;
    --space-xl: 3.2rem;    
    --space-2xl: 4.8rem;
    --space-3xl: 6.4rem;
    --space-4xl: 8.0rem;
    --space-5xl: 9.6rem;
    --space-6xl: 11.2rem;
    --space-15xl: 25.6rem
}
