.main{
    background: linear-gradient(
    180deg,
    #fde2ff 0%,
    #e8d9ff 40%,
    #dbeafe 100%
  );
}

.container{
    padding-top: var(--space-xl);
    padding-inline: var(--space-md);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-lg);
}

.main__title{
    font-family: var(--font-primary);
    font-size: var(--font-3xl);
    font-weight: bold;
    text-align: center;
    color: #02026f;
}

.main__text{
    font-family: var(--font-secondary);
    font-size: var(--font-xl);
    text-align: center;
    padding-bottom: var(--space-md);
}

.main__text--destaque{
    font-weight: 600;
}

.main__video{
    width: 37.5rem;
    height: 65rem;
    border: 0.5rem solid var(--color-white);
    border-radius: 3rem;
    box-sizing: border-box;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.50);
}

.list__wrap{
    padding-inline: var(--space-xl);
}

.main__list{
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    padding-bottom: var(--space-xl);
    list-style-type: disc;

}

.main__itens{
    font-family: var(--font-secondary);
    font-size: var(--font-md);
    font-weight: 500;
    color: var(--color-black-first);
}

.negrito{
    font-weight: bold;
}

.btn__video{
    display: none;
    width: 80vw;
    padding: 2rem 0;
    border: 0.2rem solid #fff;
    border-radius: 1rem;
    color: #fff;
    font-family: var(--font-primary);
    font-size: var(--font-3xl);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: hsl(345deg 100% 47%);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.70);
    transition: display 1s ease-in;
}

.btn--show{
    display: block;
}
