.main{
    height: 90rem;
    background: linear-gradient(
    180deg,
    #fde2ff 0%,
    #e8d9ff 40%,
    #dbeafe 100%
  );
}

.container{
    padding-top: var(--space-xl);
    padding-bottom: var(--space-xl);
    padding-inline: var(--space-md);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-lg);
}

.main__title{
    font-family: var(--font-primary);
    font-size: var(--font-3xl);
    font-weight: bold;
    text-align: center;
    color: #02026f;
}

.main__text{
    font-family: var(--font-secondary);
    font-size: var(--font-xl);
    text-align: center;
}

.main__text--destaque{
    background-color: #ffde59;
    padding: 0.1rem 0.4rem 0.1rem 0.8rem;
    border-radius: 10rem;
    font-weight: 600;
}

.main__video{
    border: 0.5rem solid var(--color-white);
    border-radius: 3rem;
    box-sizing: border-box;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.50);
}
